body {
    background-color: #6494aa;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute !important;
}

.nav-link {
    color: #151515;
}

.disabled {
    cursor: not-allowed;
}

.btn.disabled {
    
}

.tiny {
    font-size: 10%;
}

.hidden {
    display: none;
}

:hover + .hidden {
    display: block;
}

